02-Homework/Main
Solved
!01-Activities/03*/Solved
!01-Activities/05*/Solved
!01-Activities/07*/Solved
!01-Activities/09*/Solved
#!01-Activities/12*/Solved
#!01-Activities/13*/Solved
# !01-Activities/14*/Solved
# !01-Activities/15*/Solved
# !01-Activities/16*/Solved
# !01-Activities/18*/Solved
# !01-Activities/19*/Solved
# !01-Activities/20*/Solved
# !01-Activities/21*/Solved
# !01-Activities/22*/Solved
# !01-Activities/23*/Solved
01-Activities/24*
01-Activities/25*
01-Activities/26*
01-Activities/27*
01-Activities/28*
01-Activities/29*
01-Activities/3*

#!03-Algorithms/01*/Solved
#!03-Algorithms/02*/Solved
#!03-Algorithms/03*/Solved

# ex. do not delete
#!01-Activities/07*/Solved