02-Homework/Main
Solved
!01-Activities/03*/Solved
!01-Activities/05*/Solved
#!01-Activities/06*/Solved
#!01-Activities/07*/Solved
#!01-Activities/08*/Solved
#!01-Activities/09*/Solved
#!01-Activities/10*/Solved
#!01-Activities/11*/Solved
#!01-Activities/13*/Solved
#!01-Activities/15*/Solved
01-Activities/1*
!01-Activities/10*
!01-Activities/11*
!01-Activities/12*
!01-Activities/13*
!01-Activities/14*
!01-Activities/15*
01-Activities/2*

# ex. do not delete
#!01-Activities/07*/Solved