/**
 * Absolute Position: anchors element to the first element (overall box)
 **/

.box-set {
  position: relative;
  height: 400px;
  background: darkgray;
}

.box {
  /* Absolute Position */
  position: absolute;
  width: 150px;
  height: 150px;
  background: #2db34a;
  border: 2px solid black;
}

.box-set{
  /* left: 50px; */
}

/* Box rules: percentages define anchors (i.e. position of each box relative to enclosing box) */

.box-1 {
  top: 90%;
  left: 2%;
}

.box-2 {
  top: 0;
  
  /* right: 0px; */
  right: -40px;
}

.box-3 {
  right: 20px;
  bottom: -20px;
}

.box-4 {
  bottom: 0px;
}
